:root
    --web-wash: #18191A
body
    margin: 0
    padding: 0
    height: 100dvh

/* .MuiAppBar-root
    background: inherit !important */

@media (prefers-color-scheme: dark)
    body
        background: var(--web-wash)

@media (prefers-color-scheme: light)
    body
        background-color: whitesmoke

#root
    display: grid
    grid-template-rows: 1fr 10fr 1fr
    grid-template-columns: repeat(5, 1fr)
    height: 100%

header, footer
    grid-column: 1/-1

nav
    grid-column: 1/2

main
    grid-column: 2/-1
